@model Person

<form asp-action="AccountRegister">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* w momencie jak kliknie sie submit w formularzu to zostaniemy odeslani do konrolera Test do akcji o nazwie CreateAccount *@
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>