@model List<Goal>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Duration</th>
        <th></th>
    </tr>
    @foreach (var g in Model)
    {
<tr>
    <td>@g.Id</td>
    <td>@g.Description</td>
    <td>@g.Duration</td>
    <td>
        <a class="btn btn-success" asp-action="RemoveTask" asp-route-id="@g.Id">Done</a>
    </td>
</tr>
    }
</table>
